<footer class="footer_container">
  <div class="footer_container--footer">
    <div class="footer_container--footer--logo">
      <a href="./index.html"
        ><img src="./img/logo_small.png" alt="Kochwelt Logo"
      /></a>
    </div>
    <div class="footer_container--footer--important_links">
      <a href="./Imprint.html">Impressum</a>
      <a href="./privacy_policy.html">Datenschutz</a>
      <a href="./contact.html">Kontakt</a>
    </div>
    <div class="footer_container--footer--spacer"></div>
  </div>
</footer>
